################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NUJ Oyo State/NUJ-FE
/NUJ-FE
*.lock
