@{
    ViewBag.Title = "About - NUJ Oyo Chapel";
}

<!-- breadcrumb start-->
<section class="breadcrumb_part breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>about us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->


<!-- about us part start-->
<section class="about_us single_about_padding">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6 col-lg-6">
                <div class="about_us_img">
                    <img src="img/about-us-01.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="about_us_text">
                    <h2>About us</h2>
                    <p>
                        Oyo State Council of Nigeria Union of Journalists (NUJ), after its formation in the early 50 – 60s, experienced serious intimidation of its members, aftermath of the political instability in the Western region.
                        The workers of the Tribune titles establishment by the first premier of the region, late Chief Obafemi Awolowo were always hunted by the security agents supportive of the National Democratic Party (NDP) of late Chief S.L. A Akintola. Its editor Mr Ayo Ojewumi was jailed while the Agbadagbudu Yemetu office of the newspapers was always raided. Nigeria Tribune and its vernacular sister Irohin Yoruba were usually published underground while buyers too could be arrested and prosecuted under the newspapers amended Act of 1964. To counter the Tribune excesses Akintola’s ruling party set up Morning Star and Imole Owuro, as opposition newspapers to Nigerian Tribune and Irohin Yoruba.
                        The period later witnessed the birth of Daily Sketch; established by the regional government.
                    </p>
                    <!-- <a class="btn_2 " href="#">learn more</a> -->
                </div>
            </div>
        </div>


    </div>

    <section class="sample-text-area">
        <div class="container box_1170">
            <h3 class="text-heading">NIGERIA UNION OF JOURNALISTS (NUJ) - THE JOURNEY SO FAR</h3>
            <p class="sample-text">
                Emergence of journalists’ agitation in Nigeria, which eventually led to the formation of a virile Union, Nigeria Union of Journalists (NUJ), is as old as the struggle for Independence itself. Most notable statesmen, who fought for self rule and extinct of Colonialism were Journalists/Politicians.
                These Nationalist members, like Herbert Macaulay, Dr Nnamdi Azikwe, Chief Obafemi Awolowo, Sir Ahmadu Bello, Sardauna of Sokoto, Chief Samuel Ladoke Akintola, Arnest Ikoli, to mention a few, were prolific writers and publishers of newspapers, pamphlets and magazines, instruments they judiciously used to attain self-rule.

            </p>

            <p class="sample-text">
                The Nigeria Youth Movement, the platform for nationali, trade unionism and professionalism led credence to vibrant media outbursts, especially print media, leading to emergence of powerful writers like <b>Alade Odunewu, Chief Bisi Onabanjo (Aye koto), Chief Lateef Jakande (John West), Abiodun Aloba, (Ebenezer Williams) Adamu Ciroma </b>, during and after Independence struggle. <br />
                For serious attacks on the government, example was the incarceration and jail terms by the likes of Professor Chike Obi who was jailed for sedition because of his writing “down with the enemies of the people”, as well as a prolific Editor of Ibadan based newspaper the Nigerian Tribune, Mr Ayo Ojewumi, (Pen Atalanta).
                It was not a surprise that these struggles and agitations, led to formal formation of Nigeria Union of Journalists NUJ, on March 15, 1955, though most of the pioneer fathers were, ironically, Government Information Officers.
                In its formation, more than 80 percent of members were in Lagos from Print, Radio and ministry of Information. The vibrancy of Ibadan based media like Nigerian Tribune, Western Nigeria Television (WNTV/WNBC) founded in 1959 and National Broadcasting Corporation NBC, later made the launching of Ibadan council of the NUJ possible, The Enugu/Eastern region closely followed with the efforts of Chief Hens, H. Offonry an executive member of NUJ. With the efforts of Correspondents, NUJ Kaduna was launched in 1958. Benin NUJ came on board in 1963 and by 1966, NUJ had 12 state councils.
            </p>

            <p class="sample-text">
                The need for Unionism emanated from claims of non-payment of salaries and poor conditions of service by many media owners, with claims that some of the journalists had little professional and academic laurels.
                Following the ideas by the more enlightened professionals, the heat for agitation for improved conditions of service from media owners was on high ebb.
                Mr Olu Oyesanya, an Information Officer in the department of Information, under colonial government, who had the opportunity to have travelled to United Kingdom, who in comparison with journalists welfare conditions over there, spearheaded the NUJ formation.
                At its second meeting in Lagos, NUJ constitution was ratified while the Unions executive was inaugurated in March 1955.
                They were:
                <ol class="ordered-list">
                    <li><span>Mr Mobolaji Odunnewu first Nigeria Chief Information Officer  - President</span></li>
                    <li><span>Mr. Olu Oyesanya – Secretary</span></li>
                    <li><span>Ebun Adesiye – Treasurer </span></li>
                    <li><span>Increase Coker – Ex – offico</span></li>
                    <li><span>Bisi Onabanjo – Ex-offico</span></li>
                    <li><span>H. K. Offonry – Ex-offico</span></li>
                </ol>
            </p>

            <p class="sample-text">
                Nigeria Union of Journalists (NUJ), took off as a trade union organization, registered under the then Labour Cap 2000. The need for its restructuring was a debate, with Abiodun’s panel emphasizing for need for a trade Union experienced Secretary with industrial union background’, though this was critised by Sidi Sirajo-led group following opposition from the North. It was the November 1977 agreement between the North and Southern practitioners as well as a similar meeting in Benin, same year, that ratified the concept of Trade Unionism and professionalism for the NUJ, it also approved appointment of full time Secretary with industrial training.
                For long, NUJ suffered factional crisis which was a buildup of <b>Sidi Sirajo and Micheal Asaju’s leadership</b>. The Union eventually emerged with two presidents at Akure Congress in 1980, with <b>Alhaji Bola Adedoja</b> who was in firm control of the NUJ secretariat at Eric more in Lagos and Jola Ogunlusi, holding sway at the national secretariat.
            </p>

            <div class="section-top-border">
                <div class="row">
                    <div class="col-lg-12">
                        <blockquote class="generic-blockquote">
                            “It is to the kudos of Oyo NUJ that in terms of protecting members’ interest, NUJ fought for good conditions of service for members of the Sketch Press Limited, Radio Nigeria, Information chapel, reinstatement and redeployment of sacked workers of Broadcasting Corporation of Oyo State BCOS during former Governor <b>Omololu Olunloyo</b> regime, and during recent deployment of some of its editorial staffers. Between 1986 – 1988, NUJ declared trade dispute with the management of Tribune titles in furtherance of pursuit of improved conditions of service for the chapel members which culminated in the loss of Jobs of most of its senior editorial members and union officers.
                            The NUJ recently rose in condemnation of the recent demolition of part of Fresh F.M Radio complex in Ibadan, as a sign of fighting for justice.”
                        </blockquote>
                    </div>
                </div>
            </div>

            <p class="sample-text">
                Ralp Igwa faction held its own election outside the convention hall in Akure.
                In 1984, the factions reunited under Alhaji Adedoja at a meeting in Minna, which was hosted by the then governor of Niger state, then Col. David Mark.
                In 1985, the NUJ constitution was amended and George Izobo defeated the incumbent, Alhaji Bola Adedoja at a keenly contested election.
                Since then, NUJ has been a united body, but is now more of a professional than a trade Union organisation. The check-off dues, its main source of sustenance has dwindled considerably.
            </p>

            <p class="sample-text">
                Oyo State Council of Nigeria Union of Journalists (NUJ), after its formation in the early 50 – 60s, experienced serious intimidation of its members, aftermath of the political instability in the Western region.
                The workers of the Tribune titles establishment by the first premier of the region, late Chief Obafemi Awolowo were always hunted by the security agents supportive of the National Democratic Party (NDP) of late Chief S.L. A Akintola. Its editor Mr Ayo Ojewumi was jailed while the Agbadagbudu Yemetu office of the newspapers was always raided. Nigeria Tribune and its vernacular sister Irohin Yoruba were usually published underground while buyers too could be arrested and prosecuted under the newspapers amended Act of 1964. To counter the Tribune excesses Akintola’s ruling party set up Morning Star and Imole Owuro, as opposition newspapers to Nigerian Tribune and Irohin Yoruba.
                The period later witnessed the birth of Daily Sketch; established by the regional government.
            </p>

            <p class="sample-text">
                Within this period, Journalists used to get together for social and labour activities along Eleyele recreation centre or Daily Times office, Oke Padre until the time that the military governor of Western state, then Col. Adeyinka Adebayo allocated a quarters of what is now known as NUJ Press centre, Simeon Adebo Avenue, Iyaganku Government Reservation Area, GRA Ibadan, the current seat of the Union in 1968s. <br />
                Notable among the vibrant NUJ practitioners who sought and got the allocation of the premises were <b>Chief Theophilous  Ola (Daily Times Bureau Chief), Hamed Alao (Daily Express) Remi Adebayo (Morning Post) Ajike Feyisayo, (Information) Alhaji Aliu who later rose to the post of Chief Information Officer, Dosu Ajayi Obe (Radio Nigeria) Lanre Yusuf (Daily Times) Adeola Basiru (Morning post) and Bisi Adebunmi (Daily Times)</b>.
                The pioneer officers were <b>Prince Isaac Adebayo Chairman and Mr Dosu Ajayi Obe Secretary 1968 – 1970, Alhaji Saka Fagbo, Chairman and Mr Peter Ajayi secretary 1971 – 1972, Joe Adentan, Chairman and Tola Adeniyi, secretary 1975 – 1976, Dotun Oloyede, Chairman and Eric Fawole, secretary <i>1976 – 77</i>, Lateef Abass Chairman and Biodun Famojuro, secretary 1977 – 1978, Bode Oyewole, chairman and Iyiola Lawal, secretary 1978 – 1980</b>.
                The NUJ, had a long drawn running battle in securing the premises from officers of the Ministry of Lands, Housing and Survey until during the regime of Sehinde Dagunduro (Chairman) and Bolaji Kareem (Secretary) 1987 – 1989 when late Governor Sasaenia Oresanya granted and signed the certificate of occupancy (C.O.).
            </p>

            <p class="smaple-text">
                The Oyo State Council of Nigeria Union of Journalists had experienced the good, the bad and the ugly moments from various governments. For the first time, the union under the leadership of Joe Abiola (Chairman) and Ranti Ajeleti 1983 – 1985 secured a Toyota bus from Governor Bola Ige’s administration and a Volkswagen Beetle car from Adegoke Motors. <br />
                The first expansion to the main building was the construction of Executive Council Chambers by Kemi Ogunyemi (Chairman) and Bolaji Kareem General Secretary. 1985 - 1987 as well as the tarring of the premises, by former Governor Adetunji Idowu Olurin, with the intervention of his Chief Press Secretary, Mr Lekan Alabi. Sehinde Dagunduro (Chairman)/Bolaji Kareem (secretary’s) executive ensured the introduction of Suya base, and current Administrative block through late Col, David Laoye’s Directorate of Employment.
            </p>

            <p class="smaple-text">
                <b>Dapo Aderogba (Chairman) and Lekan Awoyemi (secretary) </b> - led executive <i>1989 – 1991</i> created idea of a Guest House for members’ recreation.
                When a former secretary of the Union, <b>Alhaji Bolaji Kareem</b> became Commissioner for Works and Transport in Oyo State, he facilitated the building of the Hall, today named Dapo Aderogba Hall, following the request for such from the <b>Dapo Aderogba (Chairman) Lanre Ogundipe (secretary)</b> led executive 1992 – 1993.
                When Mr Lanre Ogundipe, succeeded late Aderogba as chairman in 1993 – 1995 he initiated the creation of Pen Group of Schools, (Primary/Secondary) to serve as model schools in the state. He later became a national president of the Union. Successive executives of Soladoye Adewole, Victor Oluwadamilare, Wale Ojo-Lanre relentlessly worked hard to build and sustain the schools which were almost crippled because of financial impediments, logistics and administration.
                These include building of more classrooms, resource centre and procuring of vehicles and free health facilities for the students, members and neighbours.
                Gbenga Opadotun’s administration also facilitated new vehicles apart from those secured by Wale Ojo-Lanre, for the Union, the Science Laboratory and Library, as well as another heath centre and New Guest House.
                Since the emergence of Comrade Adewumi Faniran led executive, 2016 to date union members had been reunited, NUJ premises had experienced facelifts, with improved condition of the schools the workers and welfare of the members. The executive has also embarked on updating registration of its members (old and new) enforcement of discipline as well as pursuit for befitting  good conditions of service and preparation for good insurance policy for its members.
            </p>
        </div>
    </section>
</section>
<!-- about us part end-->