@{
    ViewBag.Title = "Contact";
}

<div class="container box_1170">
    <div class="section-top-border">
        <h3 class="mb-30">@ViewBag.Title - Chapels Address</h3>
        <div class="row">
            <div class="col-md-3">
                <div class="single-defination">
                    <h4 class="mb-20">Press Conference</h4>
                    <address>
                        Iyaganku GRA <br />
                        <abbr title="Phone">P:</abbr>
                        425.555.0100
                    </address>
                </div>
            </div>
            <div class="col-md-3">
                <div class="single-defination">
                    <h4 class="mb-20"> Federal Information </h4>
                    <address>
                        One Microsoft Way<br />
                        Redmond, WA 98052-6399<br />
                        <abbr title="Phone">P:</abbr>
                        425.555.0100
                    </address>
                </div>
            </div>
            <div class="col-md-3">
                <div class="single-defination">
                    <h4 class="mb-20">State Information</h4>
                    <address>
                        One Microsoft Way<br />
                        Redmond, WA 98052-6399<br />
                        <abbr title="Phone">P:</abbr>
                        425.555.0100
                    </address>
                </div>
            </div>
            <div class="col-md-3">
                <div class="single-defination">
                    <h4 class="mb-20">Tribune</h4>
                    <address>
                        One Microsoft Way<br />
                        Redmond, WA 98052-6399<br />
                        <abbr title="Phone">P:</abbr>
                        425.555.0100
                    </address>
                </div>
            </div>
            <div class="col-md-3">
                <div class="single-defination">
                    <h4 class="mb-20">Inspiration FM</h4>
                    <address>
                        One Microsoft Way<br />
                        Redmond, WA 98052-6399<br />
                        <abbr title="Phone">P:</abbr>
                        425.555.0100
                    </address>
                </div>
            </div>
            <div class="col-md-3">
                <div class="single-defination">
                    <h4 class="mb-20">Oke-Ogun</h4>
                    <address>
                        One Microsoft Way<br />
                        Redmond, WA 98052-6399<br />
                        <abbr title="Phone">P:</abbr>
                        425.555.0100
                    </address>
                </div>
            </div>
            <div class="col-md-3">
                <div class="single-defination">
                    <h4 class="mb-20">Federal Radio Corporation of Nigeria (FRCN)</h4>
                    <address>
                        One Microsoft Way<br />
                        Redmond, WA 98052-6399<br />
                        <abbr title="Phone">P:</abbr>
                        425.555.0100
                    </address>
                </div>
            </div>
            <div class="col-md-3">
                <div class="single-defination">
                    <h4 class="mb-20">Broadcasting Corporation of Oyo State (BCOS)</h4>
                    <address>
                        One Microsoft Way<br />
                        Redmond, WA 98052-6399<br />
                        <abbr title="Phone">P:</abbr>
                        425.555.0100
                    </address>
                </div>
            </div>
            <div class="col-md-3">
                <div class="single-defination">
                    <h4 class="mb-20">Association of Local Government Information Officers (ALGIO)</h4>
                    <address>
                        One Microsoft Way<br />
                        Redmond, WA 98052-6399<br />
                        <abbr title="Phone">P:</abbr>
                        425.555.0100
                    </address>
                </div>
            </div>
            <div class="col-md-3">
                <div class="single-defination">
                    <h4 class="mb-20">Nigerian Television Authority (NTA) </h4>
                    <address>
                        One Microsoft Way<br />
                        Redmond, WA 98052-6399<br />
                        <abbr title="Phone">P:</abbr>
                        425.555.0100
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>