@{
    ViewBag.Title = "Inauguration Pictures";
}
    <div class="container box_1170">
        <div class="section-top-border">
            <h3>Photos From our Inauguration</h3>
            <div class="row gallery-item">
                <div class="col-md-4">
                    <a href="~/img/gallery/01.jpg" class="img-pop-up" target="_blank">
                        <div class="single-gallery-image" style="background: url(../img/gallery/01.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="~/img/gallery/02.jpg" class="img-pop-up" target="_blank">
                        <div class="single-gallery-image" style="background: url(../img/gallery/02.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="~/img/gallery/03.jpg" class="img-pop-up" target="_blank">
                        <div class="single-gallery-image" style="background: url(../img/gallery/03.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="~/img/gallery/04.jpg" class="img-pop-up" target="_blank">
                        <div class="single-gallery-image" style="background: url(../img/gallery/04.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="~/img/gallery/05.jpg" class="img-pop-up" target="_blank">
                        <div class="single-gallery-image" style="background: url(../img/gallery/05.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="~/img/gallery/06.jpg" class="img-pop-up" target="_blank">
                        <div class="single-gallery-image" style="background: url(../img/gallery/06.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="~/img/gallery/07.jpg" class="img-pop-up" target="_blank">
                        <div class="single-gallery-image" style="background: url("../img/gallery/07.jpg");"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>

