@{
    ViewBag.Title = "NUJ Oyo State";
}

<!-- banner part start-->
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-xl-5">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h5></h5>
                        <h1>Chairman's Speech</h1>
                        <p>
                            NUJ Oyo State has 10 chapels at the moment which is led by Comrade Ademola Babalola, the chapels are the units that constituted a state council.They are the media houses where members of the union are drawn.
                            <br />
                            With the press centre  situated at Iyaganku GRA in Ibadan, the following are the corresponding chapels: Federal Information, State Information, Tribune, Inspiration FM, Oke-Ogun, FRCN(Federal Radio Corporation of Nigeria), BCOS(Broadcasting Corporation of Oyo State),  ALGIO(Association of Local Government Information Officers), and NTA(Nigerian Television Authority).
                        </p>

                        <!-- <a href="#" class="btn_2">Are you a panelist?</a> -->

                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="banner_img">
                    <img src="~/img/excos/chairman.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner part start-->

<!-- about us part start-->
<section class="about_us padding_top">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6 col-lg-6">
                <div class="about_us_img">
                    <img src="~/img/about-us-home.jpg" alt="Homepage about">
                </div>
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="about_us_text">
                    <h2>About Association</h2>

                    <p>
                        Emergence of journalists’ agitation in Nigeria, which eventually led to the formation of a virile Union, Nigeria Union of Journalists (NUJ), is as old as the struggle for Independence itself. Most notable statesmen, who fought for self rule and extinct of Colonialism were Journalists/Politicians.
                    </p>
                    <p>
                        Oyo State Council of Nigeria Union of Journalists (NUJ), after its formation in the early 50 – 60s, experienced serious intimidation of its members, aftermath of the political instability in the Western region.
                    </p>

                    <a href="about.html" class="genric-btn info-border circle">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about us part end-->

<!-- feature_part start-->
<section class="feature_part"></section>
<!-- feature_part start-->

<!-- Quote start-->
<section class="our_depertment section_padding">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-xl-12">
                <div class="depertment_content">
                    <div class="row justify-content-center">
                        <div class="col-xl-8">
                            <h2>Activities</h2>

                            <div class="row justify-content-between align-items-center">
                                <div class="owl-carousel">
                                    <div class="item">
                                        <a href="#">
                                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/slider_bags.jpg" alt="" />
                                            <div class="inner">
                                                <a href="#">The Erling Bag</a>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="item black">
                                        <a href="#">
                                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/slider_book_cover.jpg" alt="" />
                                            <div class="inner">
                                                <a href="#">Summer Book Series</a>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="item">
                                        <a href="#">
                                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/slider_bags.jpg" alt="" />
                                            <div class="inner">
                                                <a href="#">The Erling Bag</a>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="item black">
                                        <a href="#">
                                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/slider_book_cover.jpg" alt="" />
                                            <div class="inner">
                                                <a href="#">Summer Book Series</a>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="item black">
                                        <a href="#">
                                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/slider_book_cover.jpg" alt="" />
                                            <div class="inner">
                                                <a href="#">Summer Book Series</a>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="item black">
                                        <a href="#">
                                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/slider_book_cover.jpg" alt="" />
                                            <div class="inner">
                                                <a href="#">Summer Book Series</a>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</section>
<!-- our depertment part end-->

<!--::journalist listing start::-->
<section class="doctor_part section_padding" id="executives">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section_tittle text-center">
                    <h2>Executives</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="~/img/excos/01.jpg" alt="NUJ Excos">
                        <!-- <div class="social_icon">
                            <ul>
                                <li><a href="#"> <i class="ti-facebook"></i> </a></li>
                                <li><a href="#"> <i class="ti-twitter-alt"></i> </a></li>
                                <li><a href="#"> <i class="ti-instagram"></i> </a></li>
                                <li><a href="#"> <i class="ti-skype"></i> </a></li>
                            </ul>
                        </div> -->
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h6>Alhaji</h6>
                            <h3>Ademola Babalola</h3>
                            <p>CHAIRMAN</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="~/img/excos/secretary.png" alt="NUJ Excos">

                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h6>Comrade</h6>
                            <h3>Samuel Olusola Gbenga B </h3>
                            <p>NUJ SECRETARY</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="~/img/excos/ass_sec.png" alt="NUJ Excos">

                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h6>Alhaji</h6>
                            <h3>Dauda Olugbade A.</h3>
                            <p>ASSISTANT SECRETARY</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="~/img/excos/nuj-2.png" alt="NUJ Excos">
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h6>Comrade</h6>
                            <h3>Akeem Babatunde A</h3>
                            <p>TREASURER</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::journalist listing end::-->

<!--::blog_part start::-->
<section class="blog_part section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section_tittle text-center">
                    <h2>Recent News</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="single-home-blog">
                    <div class="card">
                        <img src="~/img/blog/blog_1.png" class="card-img-top" alt="blog">
                        <div class="card-body">
                            <a href="#">
                                <h5 class="card-title">Oyo NUJ Sets Up 11-man Committee To Fight Fake News On Covid-19</h5>
                            </a>
                            <ul>
                                <li> <span class="ti-user"></span>Admin</li>
                                <li> <span class="ti-bookmark"></span>News, nuj</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="single-home-blog">
                    <div class="card">
                        <img src="~/img/blog/blog_1.png" class="card-img-top" alt="blog">
                        <div class="card-body">
                            <a href="#">
                                <h5 class="card-title">Oyo NUJ Sets Up 11-man Committee To Fight Fake News On Covid-19</h5>
                            </a>

                            <ul>
                                <li> <span class="ti-user"></span>Admin</li>
                                <li> <span class="ti-bookmark"></span>News, nuj</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::blog_part end::-->